
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-image: url("https://img.freepik.com/vector-gratis/fondo-papel-diseno-plano-linea-azul_23-2151126424.jpg?t=st=1709994757~exp=1709998357~hmac=713e87588afbea7155e60c40d1214ad92dc665f72cf8e2bca25a2cccd11321df&w=996") !important;
    background-size: auto;
    background-color: #cccccc;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;  
}

